
.btn {
    background: #666;
    color: #FFF;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5);
    font-family: Arial, sans-serif;
    display: inline-block;
    line-height: 2.5em;
    padding: 0 3em;
    text-decoration: none;
}

.alskSize.btn {
    width: 250px;
}

.btnPlayerReady {
    background: #666;
    color: #FFF;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5);
    font-family: Arial, sans-serif;
    display: inline-block;
    text-decoration: none;

    background: linear-gradient(#6BDB55,#57B245);
    text-shadow: 1px 1px 1px #57B245;
}

.green.btn {
    background: linear-gradient(#6BDB55,#57B245);
    text-shadow: 1px 1px 1px #57B245;
}

.red.btn {
    background: linear-gradient(#D60A0A,#B20808);
    text-shadow: 1px 1px 1px #B20808;
}

.blue.btn {
    background: linear-gradient(#11A1D6,#0E86B2);
    text-shadow: 1px 1px 1px #0E86B2;
}

.small {
    line-height: 1.75em;
    padding: 0 1.5em;
}

.large {
    line-height: 5em;
    padding: 0 10em;
}

.btn:hover { box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), inset 0 1.5em 1em rgba(255,255,255,0.3); }

.btn:active { box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), inset 0 1.5em 1em rgba(0,0,0,0.3); }

.btnPlayerReady:hover { box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), inset 0 1.5em 1em rgba(255,255,255,0.3); }

.btnPlayerReady:active { box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), inset 0 1.5em 1em rgba(0,0,0,0.3); }


body { padding: 25px; text-align: center; }




/*FROM FUNNY TABLE THING... SEEMS OK*/


body{
    margin:0;
    padding:0;
    background:#f1f1f1;
    font:70% Arial, Helvetica, sans-serif;
    color:#555;
    line-height:150%;
    text-align:left;
}
a{
    text-decoration:none;
    color:#057fac;
}
a:hover{
    text-decoration:none;
    color:#999;
}
h1{
    font-size:140%;
    margin:0 20px;
    line-height:80px;
}
h2{
    font-size:120%;
}
#container{
    margin:0 auto;
    width:680px;
    background:#fff;
    padding-bottom:20px;
}
#content{margin:0 20px;}
p.sig{
    margin:0 auto;
    width:680px;
    padding:1em 0;
}
form{
    margin:1em 0;
    padding:.2em 20px;
    background:#eee;
}